<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Appointments</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid p-2">
            <h1>Hello {{ user.first_name }}!</h1>
            <p class="pt-3">Here are your appointments:</p>
            <div class="px-4 mx-auto col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in f_appts %}
                                <tr>
                                    <td>{{ a.task }}</td>
                                    <td>{{ a.date }}</td>
                                    <td>{{ a.status }}</td>
                                    <td>
                                        <a href="http://localhost:8000/appointments/{{ a.id }}"><u>Edit</u></a> |
                                        <a href="http://localhost:8000/delete/{{ a.id }}"><u>Delete</u></a> 
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <p class="pt-3">Past appointments:</p>
            <div class="px-4 col-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in p_appts %}
                                <tr>
                                    <td>{{ a.task }}</td>
                                    <td>{{ a.date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
    </body>
</html>
